<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Quizz</title>
    <style>
        .correct {
            color: green;
        }

        .incorrect {
            color: red;
        }
    </style>
</head>
<body>
<div id="quizz">
    <h1>Quizz</h1>


    <template v-for="cat in categories" :key="cat.id">
        <input
                type="radio"
                :id="cat.id"
                :value="cat.id"
                name="branch"
                v-model="currentCategory"
                @click="getQuestionByCategory(cat.id)"
        />
        <label :for="cat.id">{{ cat.name }}</label>
    </template>

    <h2>{{ printCatName(currentCategory) }}</h2>


    <p>{{ question.question }}</p>


    <label v-for="r in question.allResponses" :key="r">
        <input
                type="radio"
                name="reponse"
                :value="r"
                v-model="response"
        >
        <p v-bind:class="{
            'incorrect': response !== '' && r === response && response !== question.correct_answer,
            'correct': response !== '' && r === question.correct_answer
        }">
            {{ r }}
        </p>
        <br>
    </label>
    <br>
</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3"></script>
<script>
    const apiSeeCategories = "https://opentdb.com/api_category.php";
    const apiSeeCountQuestionByApi = "https://opentdb.com/api_count.php?category=";
    const apiGetQuestionByCategory = "https://opentdb.com/api.php?amount=1&difficulty=medium&type=multiple&category=";


    Vue.createApp({
        data() {
            return {
                categories: [],
                currentCategory: "",
                question: {},
                response: "",
            }
        },
        created: function () {
            this.getAllCategories();
        },
        watch: {
            categories: "getAllCategories",
        },
        methods: {
            getAllCategories: async function () {
                try {
                    const response = await axios.get(apiSeeCategories);
                    this.categories = response.data.trivia_categories;
                } catch (error) {
                    console.error(error);
                }
            },
            getQuestionByCategory: async function (id) {
                try {
                    const response = await axios.get(apiGetQuestionByCategory + id);
                    this.question = response.data.results[0];
                    this.question.allResponses = [...this.question.incorrect_answers, this.question.correct_answer].sort(() => Math.random() - 0.5)
                } catch (error) {
                    console.error(error);
                }
            },
            printCatName: function (id) {
                return this.categories.find(item => item.id === id)?.name || null
            },
        }

    }).mount('#quizz')
</script>

</body>
</html>